{% extends 'layout.html' %}
{% block title %}
    PARTICIPANTS
{% endblock %}

{% block content %}
<h1 class="display-1">Participants</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Booking Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.name }}</td>
                <td>{{ booking.user.email }}</td>
                <td>{{ booking.booking_date.date() }}</td>
                <td>{{ booking.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



