{% extends 'layout.html' %}
{% block title %}
    STAFF
{% endblock %}
{% block content %}
<br>
{% include 'staff/staff_navbar.html' %}
<br>
    <h1 class="display-1">STAFF DASHBOARD</h1>
    <h2>Recent Bookings</h2>
    <br>
    <div class="row mb-4">
            <div class="col-md-3">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <h5>Assigned Treks</h5>
                        <h3>{{ assigned_trek_count }}</h3>
                    </div>
                </div>
            </div>
        <div class="col-md-3">
            <div class="card border-danger">
                <div class="card-body text-center">
                    <h5>Total Participants</h5>
                    <h3>{{ participant_count }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success">
                <div class="card-body text-center">
                    <h5>Open Treks</h5>
                    <h3>{{ open_trek_count }}</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>My Assigned treks</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Trek Name</th>
                <th>Location</th>
                <th>Paricipants</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trek in treks %}
            <tr>
                <td>{{trek.trek_name}}</td>
                <td>{{trek.location}}</td>
                <td>{{trek.participant_count}}</td>
                <td>{{trek.available_slots}}</td>
                <td>{{trek.status}}</td>
                <td>
                    <a href="{{ url_for('staff_trek_detail', trek_id= trek.trek_id) }}" class="btn btn-primary">
                        <i class="fas fa-edit"></i>Manage
                    </a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}