<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{ url_for('admin') }}">Trek Admin</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_trek') }}">Trek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('manage_staff')}}">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('manage_user')}}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('booking')}}">Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('report')}}">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('setting')}}">Settings</a>
                </li>
                <!--issi ko copy krke pura navbar bnana h
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Trek</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('manage_trek') }}">Manage Trek</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('add_trek') }}">Add Trek</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
