{% extends 'layout.html' %}
{% block title %}
    Edit Trek
{% endblock %}

{% block content %}
<br>
{% include 'admin/admin_navbar.html' %}
<br>
    <h4 class="display-4">EDIT TREK</h4>
    <form action="{{ url_for('edit_trek_post', trek_id=trek.trek_id) }}" method="POST" class="form">
        <div class="form-group">
            <label for="trekname" class="form-label">Trekname</label>
            <input type="text" name="trekname" value="{{trek.trek_name}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" value="{{trek.location}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="difficulty" class="form-label">Difficulty</label>
            <select id="difficulty" name="difficulty" class="form-select" required>
                <option value="">--Level--</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div><br>
        <div class="form-group">
            <label for="duration_in_days" class="form-label">Duration(in days)</label>
            <input type="number" name="duration_in_days" value="{{trek.duration_in_days}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="available_slots" class="form-label">Available Slots</label>
            <input type="number" name="available_slots" value="{{trek.available_slots}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" name="start_date" value="{{trek.start_date}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" name="end_date" value="{{trek.end_date}}" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="assigned_staff_id" class="form-label">Assigned Staff</label>
            <select id="assigned_staff_id" name="assigned_staff_id" class="form-select" required>
                <option value="">--staff--</option>
                {% for staff in staffs %}
                <option value="{{ staff.id }}">
                    {{ staff.name }}
                </option>
                {% endfor %}
            </select>
        </div><br>
        <div class="form-group">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" value="{{trek.status}}" class="form-select" required>
                <option value="">--status--</option>
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Completed">Completed</option>
                <option value="Open">Open</option>
                <option value="Close">Close</option>
            </select>
        </div><br>
        <div class="form-group">
            <label for="description" class="form-label">Description (optional)</label>
            <input type="text" name="description" class="form-control">
        </div><br>
        <div class="form-group">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
{% endblock %}