{% extends 'layout.html' %}
{% block title %}
    MANAGE TREKS 
{% endblock %}

{% block content %}
<br>
{% include 'admin/admin_navbar.html' %}
    <br>
    <h4 class='display-4'>MANAGE TREKS</h4>
    <div class="text-end">
        <a href="{{ url_for('add_trek') }}" class="btn btn-success">
            <i class="fas fa-plus"></i>
            Add New Treks
        </a><br>
    </div><br>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form><br>
    <table class="table">
        <thead>
            <tr>
                <th>Trek ID</th>
                <th>Trek Name</th>
                <th>Location</th>
                <th>Difficulty</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trek in treks %}
            <tr>
                <td>{{trek.trek_id}}</td>
                <td>{{trek.trek_name}}</td>
                <td>{{trek.location}}</td>
                <td>{{trek.difficulty}}</td>
                <td>{{trek.available_slots}}</td>
                <td>{{trek.status}}</td>
                <td>
                    <a href="{{url_for('edit_trek', trek_id=trek.trek_id)}}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="{{url_for('delete_trek', trek_id=trek.trek_id)}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}