{% extends 'layout.html' %}
{% include 'navbar.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <h1 class="display-1">Login</h1>
    <form method="POST" class="my-form">
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control">
        </div><br>
        <div class="form-group">
            <label for="remember me" class="form-label">Remember me?</label>
            <input type="checkbox" name="remember me" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>     
    </form>
    <h4>Don't have an account?</h4>
    <a href="{{ url_for('register') }}">Register here</a>
    
{% endblock %}