{% extends 'layout.html' %}
{% block title %}
    USER
{% endblock %}
{% block content %}
<br>
{% include 'user/user_navbar.html' %}
<br>
    <h1>USER DASHBOARD</h1>
    <h1 class="display-1">Welcome 
        <span class="text-muted">{{user.name}}!</span>
    </h1>
    <h2>Available Treks</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Trek Name</th>
                <th>Location</th>
                <th>Difficulty</th>
                <th>Duration</th>
                <th>Available Slots</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trek in treks %}
            <tr>
                <td>{{trek.trek_name}}</td>
                <td>{{trek.location}}</td>
                <td>{{trek.difficulty}}</td>
                <td>{{trek.duration_in_days}}</td>
                <td>{{trek.available_slots}}</td>
                <td>
                    <a href="{{ url_for('book_now', trek_id=trek.trek_id) }}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Book Now
                    </a>
                    <a href="{{url_for('user_trek_detail', trek_id=trek.trek_id)}}" class="btn btn-primary">
                        <i class="fas fa-edit"></i>View Details
                    </a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <h2>My bookings</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Trek Name</th>
                <th>Booking Date</th>
                <th>Status</th>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{booking.trek.trek_name}}</td>
                <td>{{booking.booking_date.date()}}</td>
                <td>{{booking.trek.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <a href="{{url_for('my_booking')}}">View All Bookings</a>
    </div>
{% endblock %}



